/* wx-header */
@white:#fff;
 .border-radius(@radius:5px) { 
	 -ms-border-radius: @radius; 
	 -o-border-radius: @radius; 
	 -moz-border-radius: @radius; 
	 -webkit-border-radius: @radius; 
	 border-radius: @radius; 
 } 
html{
		max-width: 720px;
	margin:0 auto;
}
body{
	background: #efeff5;
	font-family: "微软雅黑";

}
img{
	width: 100%;

}
.wx-header{
	height: .8rem;
	line-height: .8rem;
	background: #39393d;
	padding:0 20px;
	.wx-header-left{
		a{
			font-size: .3rem;
		color: #ffffff;
		}
		
		i{
			font-size: .35rem;
			padding-right:.09rem;
		}
	}
	h1{
		text-align: center;
		font-size: .35rem;
		color: #fff;
		font-weight: 500;
	}
	.wx-header-right{
		p{
			font-size: .3rem;
			color:@white;
		}
		i{
			font-size: .35rem;
			color: @white;

		}
	}
}

.change-main{
	padding-bottom: 2rem;
	.wx_chang_img{
		width: 2.01rem;
		height:2.01rem;
		margin:0 auto .42rem auto;
	}
	h2.weui-msg__title{
		font-size: .32rem;
		color: #000000;
		padding-bottom: .22rem;
	}
	p.weui-msg__desc{
		font-size: .8rem;
		color: #000000;
	}
	.change-a{
		
		height: .4rem;
		line-height: .4rem;
		img{
			width: .31rem;
			height: .31rem;
			display: inline-block;
			vertical-align: middle;

		}
		p{
			font-size: .25rem;
			color: #536893;
			display: inline-block;
			vertical-align: middle;
			padding-left: .15rem;
		}
	}
}

/* wx-header */

.me-main{
	padding: .3rem 0 2rem 0;
	.weui-cell{
		height: 1rem;
		line-height: 1rem;
		padding:0 .2rem 0 .25rem;
		&.head-cells{
			height: 2rem;
		}
	}

	.weui-cells__title{
		height: .45rem;
		margin: 0;
		padding: 0;
	}
	.weui-cell__hd{
		width: .45rem;
		display: block;
	}
	.head-cells{
		.weui-cell__hd{
			width: .9rem;
			height: .9rem;
			img{
				.border-radius(50%); 
				border: 2px solid #fff;
				-moz-box-shadow:1px 2px 4px -2px #333333; -webkit-box-shadow:1px 2px 4px -2px #333333; box-shadow:1px 2px 4px -2px #333333;
				-ms-box-shadow:1px 2px 4px -2px #333333;-o-box-shadow:1px 2px 4px -2px #333333;
			}
			
		}
		.weui-cell__bd{

			p{
				line-height: .5rem;
				color: #2f2f2f;
				&:nth-child(1){
					font-size: .3rem;
				}	
				&:nth-child(2){
					font-size: .2rem;
				}
			}
		}
		.weui-cell__ft{
			img{
				width: .38rem;
				height: .38rem;
				display: inline-block;
				vertical-align: middle;
				padding-right: .25rem;
			}
			&:after{
				vertical-align: middle;
				
			}
		}
	}
	.weui-cell__bd{
		p{
			text-align: left;
			padding-left: .3rem;
			font-size: .28rem;
			color: #0b0b0b;

		}
	}
}
.wx_btn{
	height: .9rem;
	line-height: .9rem;
	font-size: .35rem;
}
.weui-footer__link,.weui-footer__text{
	padding-bottom: .2rem;
	font-size: .25rem;
}
.weui-btn+.weui-btn{
	margin-top: .27rem;
}
.weui-tabbar{
	position: fixed;
	background: #efefef;
	left: 0;
	p.weui-tabbar__label{
		font-size: .2rem;
	}
}
.weui-tabbar__item{
	padding: .15rem 0 0;
}
.weui-tabbar__icon{
	img{
		height: auto;
	}
	&.wj{
		width:.49rem;
	}
	&.rw{
		width: .44rem;
	}
	&.zx{
		width: .5rem;
	}
	&.me{
		width: .32rem;
	}
}