/* wx-header */
html {
  max-width: 720px;
  margin: 0 auto;
}
body {
  background: #efeff5;
  font-family: "微软雅黑";
}
img {
  width: 100%;
}
.wx-header {
  height: .8rem;
  line-height: .8rem;
  background: #39393d;
  padding: 0 20px;
}
.wx-header .wx-header-left a {
  font-size: .3rem;
  color: #ffffff;
}
.wx-header .wx-header-left i {
  font-size: .35rem;
  padding-right: .09rem;
}
.wx-header h1 {
  text-align: center;
  font-size: .35rem;
  color: #fff;
  font-weight: 500;
}
.wx-header .wx-header-right p {
  font-size: .3rem;
  color: #fff;
}
.wx-header .wx-header-right i {
  font-size: .35rem;
  color: #fff;
}
.change-main {
  padding-bottom: 2rem;
}
.change-main .wx_chang_img {
  width: 2.01rem;
  height: 2.01rem;
  margin: 0 auto .42rem auto;
}
.change-main h2.weui-msg__title {
  font-size: .32rem;
  color: #000000;
  padding-bottom: .22rem;
}
.change-main p.weui-msg__desc {
  font-size: .8rem;
  color: #000000;
}
.change-main .change-a {
  height: .4rem;
  line-height: .4rem;
}
.change-main .change-a img {
  width: .31rem;
  height: .31rem;
  display: inline-block;
  vertical-align: middle;
}
.change-main .change-a p {
  font-size: .25rem;
  color: #536893;
  display: inline-block;
  vertical-align: middle;
  padding-left: .15rem;
}
/* wx-header */
.me-main {
  padding: .3rem 0 2rem 0;
}
.me-main .weui-cell {
  height: 1rem;
  line-height: 1rem;
  padding: 0 .2rem 0 .25rem;
}
.me-main .weui-cell.head-cells {
  height: 2rem;
}
.me-main .weui-cells__title {
  height: .45rem;
  margin: 0;
  padding: 0;
}
.me-main .weui-cell__hd {
  width: .45rem;
  display: block;
}
.me-main .head-cells .weui-cell__hd {
  width: .9rem;
  height: .9rem;
}
.me-main .head-cells .weui-cell__hd img {
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
  -moz-box-shadow: 1px 2px 4px -2px #333333;
  -webkit-box-shadow: 1px 2px 4px -2px #333333;
  box-shadow: 1px 2px 4px -2px #333333;
  -ms-box-shadow: 1px 2px 4px -2px #333333;
  -o-box-shadow: 1px 2px 4px -2px #333333;
}
.me-main .head-cells .weui-cell__bd p {
  line-height: .5rem;
  color: #2f2f2f;
}
.me-main .head-cells .weui-cell__bd p:nth-child(1) {
  font-size: .3rem;
}
.me-main .head-cells .weui-cell__bd p:nth-child(2) {
  font-size: .2rem;
}
.me-main .head-cells .weui-cell__ft img {
  width: .38rem;
  height: .38rem;
  display: inline-block;
  vertical-align: middle;
  padding-right: .25rem;
}
.me-main .head-cells .weui-cell__ft:after {
  vertical-align: middle;
}
.me-main .weui-cell__bd p {
  text-align: left;
  padding-left: .3rem;
  font-size: .28rem;
  color: #0b0b0b;
}
.wx_btn {
  height: .9rem;
  line-height: .9rem;
  font-size: .35rem;
}
.weui-footer__link,
.weui-footer__text {
  padding-bottom: .2rem;
  font-size: .25rem;
}
.weui-btn + .weui-btn {
  margin-top: .27rem;
}
.weui-tabbar {
  position: fixed;
  background: #efefef;
  left: 0;
}
.weui-tabbar p.weui-tabbar__label {
  font-size: .2rem;
}
.weui-tabbar__item {
  padding: .15rem 0 0;
}
.weui-tabbar__icon img {
  height: auto;
}
.weui-tabbar__icon.wj {
  width: .49rem;
}
.weui-tabbar__icon.rw {
  width: .44rem;
}
.weui-tabbar__icon.zx {
  width: .5rem;
}
.weui-tabbar__icon.me {
  width: .32rem;
}
